{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>test</title>
        <link rel="stylesheet" href="{% static 'vision/css/vision.css' %}">
    </head>
    <body>
        <div id="container">
            <h1>Real-time Inference and Control Test Page</h1>
            <p>Author: Seunghyeon Kim</p>
            <p>This page provides a service that detects human objects and estimates their 
                poses in real-time using an edge device based on Ubuntu and NVIDIA Jetson Nano 
                (referred to as Server A), and a server based on Ubuntu (referred to as Server B). 
                Server A receives real-time video from an IP camera via RTSP and performs inference 
                using the PyTorch-based artificial intelligence model, YOLOv8. On the other hand, 
                Server B receives both the real-time video and the inference results from Server 
                A, and serves them to clients</p>
            <img src="{% url 'vision:stream' %}"/>
            <p>Servers A and B communicate via WebSocket, and Server B serves asynchronous pages 
                using NGINX, Daphne, and the Django Framework. However, Server A cannot determine 
                in advance which host it should transmit real-time video and inference results to, 
                so clients must directly input the URL of the host server through their browser.</p>
            <div>
                <input type="text" id="host_textfield" placeholder="ws://host:port/"/>
                <input type="submit" id="host_submitbutton" value="Try"/>
                <input type="text" id="asgi_textfield" placeholder="message"/>
                <input type="submit" id="asgi_submitbutton" value="Send"/>
            </div>
        </div>
        <script src="{% static 'vision/js/vision.js' %}"></script>
    </body>
</html>
