<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>streaming</title>
        <h1>Streaming Sample Page</h1>
    </head>
    <body>
        <p>Live streaming sample</p>
        <img src="{% url 'streaming:stream' %}" />
        <div>
            <input type="checkbox" id="boxes"/>
            <label>Plot bounding boxes</label>
        </div>
        <div>
            <input type="checkbox" id="kptss"/>
            <label>Plot keypoints</label>
        </div>
    </body>
</html>