{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'common/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'common/colormodes.css' %}">

  {% block style %}
  {% endblock %}

  {% block title %}
  {% endblock %}
</head>

<body>
  {% include 'common/colormodes.html' %}
  {% block include %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  <script src="{% static 'common/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'common/colormodes.js' %}"></script>
  {% block script %}
  {% endblock %}
</body>

<footer>
  {% block footer %}
  {% endblock %}
</footer>

</html>