{% extends 'common/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'common/login.css' %}"> 
{% endblock %}

{% block body %}
<div class="min-vh-100 d-flex align-items-center py-4 bg-body-tertiary">
    <main class="form-login w-100 m-auto">
        <form method="post" class="post-form" action="{% url 'common:login' %}">
            {% csrf_token %}
            {% include 'common/form_errors.html' %}

            <!-- 로그인 타이틀 -->
            <h1 class="h3 mb-3 fw-normal">Log in</h1>

            <!-- 아이디 입력란 -->
            <div class="form-group form-floating">
                <input type="text"
                       class="form-control"
                       id="username"
                       placeholder="username"
                       name="username"
                       value="{{ form.username.value|default_if_none:'' }}">
                <label for="username">Username</label>
            </div>

            <!-- 패스워드 입력란 -->
            <div class="from-group form-floating">
                <input type="password"
                       class="form-control"
                       id="password"
                       placeholder="password"
                       name="password"
                       value="{{ form.password.value|default_if_none:'' }}">
                <label for="password">Password</label>
            </div>

            <!-- 로그인 버튼 -->
            <button class="btn btn-primary w-100 py-2"
                    type="submit">Log in</button>

            <!-- (계정 없으면) 계정 등록 버튼 -->
            <div class="text-center mt-3">
                <span>
                    or <a href="{% url 'common:signup' %}"
                          class=".signup">Sign up</a>
                </span>
            </div>

            <!-- 기타 메시지 -->
            <p class="mt-5 mb-3 text-body-secondary">@ Seunghyeon Kim</p>
        </form>
    </main>
</div>
{% endblock %}