{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary" aria-label="Navigation bar">
    <div class="container-fluid">
        <!-- 네비바 브랜드 -->
        <a class="navbar-brand" href="{% url 'common:home' %}">Navbar</a>

        <!-- 네비바 토글 버튼 -->
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarsExample09"
                aria-controls="navbarsExample09"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample09">
            <!-- 네비바 아이템 목록 -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- 홈 -->
                <li class="nav-item">
                    <a class="nav-link active"
                       aria-current="page"
                       href="#">Item 0</a>
                </li>
                <!-- 링크 -->
                <li class="nav-item">
                    <a class="nav-link"
                       href="#">Item 1</a>
                </li>
                <!-- 비활성화 -->
                <li class="nav-item">
                    <a class="nav-link disabled"
                       aria-disabled="true">Disabled</a>
                </li>
            </ul>

            <!-- 검색 필드와 사용자 아이콘을 포함하는 flex 컨테이너 -->
            <div class="d-flex justify-content-end align-items-center">

                <!-- 검색 필드 -->
                <form class="flex-grow-1 me-2" role="search">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                </form>

                <!-- 사용자 정보 아이콘 -->
                <div class="dropdown text-end">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'common/user-icon.png' %}" alt="User" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end text-small">
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>