{% load static %}
<nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary" aria-label="Navigation bar">
  <div class="container-fluid">
    <!--  -->
    <a class="navbar-brand" href="#">Navbar</a>
    <!--  -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09"
      aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--  -->
    <div class="collapse navbar-collapse" id="navbarsExample09">
      <!--  -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'common:home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Solutions</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'vision_ai:home' %}">Vision AI</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Research</a>
        </li>
      </ul>

      <div class="d-flex justify-content-end align-items-center">
        <!--  -->
        <form class="flex-grow-1 me-2" role="search">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </form>
        <!--  -->
        {% if user.is_authenticated %}
        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="{% static 'common/profile.png' %}" alt="User" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu dropdown-menu-end text-small">
            <li><a class="dropdown-item">{{ user.username }}</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'common:logout' %}">Log out</a></li>
          </ul>
        </div>
        {% else %}
        <div class="text-end">
          <a href="{% url 'common:login' %}" class="btn btn-primary">Log in</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</nav>