{% extends 'common/base.html' %}
{% load static %}

{% block body %}
{% include 'common/navigation_bar.html' %}
<div class="container-fluid p-4">
    <h5>Camera</h5>
    <img src="{% url 'ai/vision:show_stream' %}" class="img-fluid"/>
</div>
<div class="container-fluid">
    <input type="text" id="host_textfield" value="ws://172.27.1.12:8000"/>
    <input type="submit" id="host_submitbutton" value="Connect"/>
    <input type="text" id="asgi_textfield" placeholder="message"/>
    <input type="submit" id="asgi_submitbutton" value="Send"/>
</div>

<script src="{% static 'apps/ai/vision/js/control.js' %}"></script>
{% endblock %}